name: Archive

on:
  gollum: []

  schedule:
    # 0 (minute) | (hour) % 3 == 0 | any (day) | any (month) | any (day of week)
    - cron: "0 */3 * * *"

jobs:
  script:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: python3 archive.py
      run: python3 archive.py
