name: Archive

on:
  issues:
    types: [ edited ]

  schedule:
    # 0 (minute) | any (hour) | any (day) | any (month) | any (day of week)
    - cron: "0 * * * *"

jobs:
  script:
    runs-on: ubuntu-latest

    steps:
    #- uses: actions/checkout@v2
    #- uses: actions/setup-python@v2
    #  with:
    #    python-version: '3.8'

    - name: python3 archive.py
      run: python3 archive.py
